/* Colors */
/* Fonts */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v3/1Ptyg83HX_SGhgqO0yLcmjzUAuWexc1RwaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v3/1Ptyg83HX_SGhgqO0yLcmjzUAuWexZNRwaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v3/1Ptyg83HX_SGhgqO0yLcmjzUAuWexXRWwaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/newsreader/v7/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBtoBCzBDXXD9JVF438wJo_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/newsreader/v7/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBtoBCzBDXXD9JVF438weI_ADA.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v36/TK3_WkUHHAIjg75cFRf3bXL8LICs169vgUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v36/TK3_WkUHHAIjg75cFRf3bXL8LICs1y9ogUE.ttf) format('truetype');
}
body,
html {
  margin: 0px !important;
  color: #000000;
  min-height: 100%;
  font-size: 14px;
  font-family: 'Mulish', sans-serif;
  font-family: 'Newsreader', serif;
  font-family: 'Oswald', sans-serif;
}
body {
  background-image: url("../imgs/back0.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #272727;
}
*:focus {
  outline: none;
}
/* Side Nav */
.sidenav-container {
  display: block;
  position: fixed;
  top: 0;
  left: 100vw;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
  background: rgba(52, 58, 64, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: 0.5s all ease-in-out;
  color: #ffffff;
}
.sidenav-container .nav-close {
  position: absolute;
  top: 40px;
  right: 60px;
  opacity: 0;
  color: #ffffff;
}
.sidenav-container .sidenav-section {
  display: flex;
  flex-direction: column;
  padding: 20px 15%;
}
.sidenav-container .sidenav-section .sidenav-link {
  font-size: 25px;
  color: #ffffff !important;
}
.sidenav-container .sidenav-section .sidenav-link + .sidenav-link {
  margin-top: 20px;
}
.sidenav-container .sidenav-section .sidenav-header-link {
  border: 3px solid rgba(255, 255, 255, 0.5);
  text-align: center;
  display: block;
  padding: 2px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff !important;
}
.sidenav-container .sidenav-section .sidenav-header-link + .sidenav-header-link {
  margin-top: 7px;
}
.sidenav-container .sidenav-section + .sidenav-section {
  margin-top: 40px;
}
.sidenav-container .sidenav-section.title {
  padding: 20px 15%;
  font-size: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.sidenav-container .sidenav-section.title a {
  color: #fff !important;
  text-decoration: none;
  transition: 0.5s all ease-in-out;
}
.sidenav-container .sidenav-section.title a:hover {
  padding-left: 10px;
}
.sidenav-container .sidenav-section.bottom-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
}
.sidenav-container .sidenav-section .social-btn {
  color: #fff;
  height: 30px;
  width: 30px;
  font-size: 20px;
  display: flex;
  text-decoration: none;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ffffff;
  transition: 0.3s all ease-in-out;
}
.sidenav-container .sidenav-section .social-btn:hover.instagram {
  background: rgba(131, 58, 180, 0.5);
}
.sidenav-container .sidenav-section .social-btn:hover.youtube {
  background: rgba(255, 0, 0, 0.5);
}
.sidenav-container .sidenav-section .social-btn + .social-btn {
  margin-left: 20px;
}
.sidenav-container.active {
  left: 0;
}
.sidenav-container.active .nav-close {
  animation-name: background-appear;
  animation-duration: 0.7s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}
/* Body */
.app-container {
  width: 90%;
  height: 90%;
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow-x: hidden;
  overflow-y: auto;
  color: #fff;
  display: flex;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
.app-container.noscroll {
  overflow: hidden !important;
}
.page-body {
  min-width: 100%;
}
.page-body .home-link {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  background: #272727;
  z-index: 1004;
  transition: 0.7s all ease-in-out;
}
.page-body .home-link span {
  margin-left: 10px;
}
.page-body .home-link:hover {
  color: #f1c40f;
}
.page-body .body-section {
  padding: 30px 5%;
}
.page-body .body-section.no-padding {
  padding: 0;
}
.uc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.uc h1 {
  font-weight: 200;
  font-size: 3rem;
}
/* Menu Button */
.menu-toggle {
  position: fixed;
  padding: 2px;
  top: calc(5% + 10px);
  right: calc(5% + 20px);
  z-index: 1002;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  background: #272727;
  transition: 0.7s all ease-in-out;
}
.menu-toggle .menu-btn {
  background: #fff;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  transition: background ease 0.7s, top ease 0.7s 0.3s, transform ease 0.7s;
  width: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-toggle .menu-btn::before,
.menu-toggle .menu-btn::after {
  background: #fff;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  width: 15px;
  transition: all ease-in-out 0.3s;
}
.menu-toggle .menu-btn::before {
  top: -5px;
}
.menu-toggle .menu-btn::after {
  top: 5px;
}
.menu-toggle .menu-btn.open {
  background: transparent;
}
.menu-toggle .menu-btn.open::before {
  transform: rotate(45deg);
  top: 0;
}
.menu-toggle .menu-btn.open::after {
  transform: rotate(-45deg);
  top: 0;
}
.menu-toggle:hover {
  background: #2c2d30;
}
.menu-toggle:hover .menu-btn {
  background: #f1c40f;
}
.menu-toggle:hover .menu-btn::before,
.menu-toggle:hover .menu-btn::after {
  background: #f1c40f;
}
/* Sub Page Landing */
.sub-landing {
  height: 80%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
}
.sub-landing .img-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
.sub-landing .img-container:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  background-image: linear-gradient(90deg, #272727 35%, rgba(39, 39, 39, 0));
  z-index: 1;
}
.sub-landing .img-container img {
  object-fit: cover;
  width: 100%;
  filter: grayscale(100%);
  z-index: 0;
}
.sub-landing .content-section {
  flex: 1;
  position: relative;
  z-index: 2;
  font-size: 1.1rem;
}
.sub-landing .content-section.title {
  padding: 30px 5% 10px;
  max-width: 35%;
}
.sub-landing .content-section.title h1 {
  font-size: 3rem;
  font-weight: 100;
}
.sub-landing .content-section.title p {
  line-height: 2.3rem;
  font-size: 1.3rem;
}
@media (max-width: 770px) {
  .sub-landing .content-section.title {
    max-width: 100%;
  }
}
.sub-landing .content-section.grid {
  display: flex;
  flex-direction: column;
}
.sub-landing .content-section.grid .grid-row {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.sub-landing .content-section.grid .grid-row.sz-6 {
  min-height: 60%;
}
.sub-landing .content-section.grid .grid-row.no-flex {
  flex: 0;
  margin-top: auto;
}
.sub-landing .content-section.grid .grid-row .grid-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 10px 20px;
  transition: 0.5s all ease-in-out;
}
.sub-landing .content-section.grid .grid-row .grid-col .fact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 30px;
  padding: 10px;
}
.sub-landing .content-section.grid .grid-row .grid-col .fact span {
  font-size: 20px;
}
.sub-landing .content-section.grid .grid-row .grid-col .fact span.lrg {
  font-size: 75px;
  line-height: 75px;
}
.sub-landing .content-section.grid .grid-row .grid-col p {
  margin: auto 0;
  line-height: 2.3rem;
  font-size: 1.2rem;
}
.sub-landing .content-section.grid .grid-row .grid-col p span {
  display: inline-block;
  font-weight: bold;
}
.sub-landing .content-section.grid .grid-row .grid-col .text {
  position: relative;
  margin-top: 15px;
}
.sub-landing .content-section.grid .grid-row .grid-col .text .arrow {
  height: 10px;
  width: 10px;
}
.sub-landing .content-section.grid .grid-row .grid-col.horizontal {
  flex-direction: row;
  padding-top: 30px;
}
.sub-landing .content-section.grid .grid-row .grid-col.link {
  color: #fff;
  text-decoration: none;
}
.sub-landing .content-section.grid .grid-row .grid-col.c1 {
  background: rgba(39, 39, 39, 0.4) !important;
}
.sub-landing .content-section.grid .grid-row .grid-col.c1.link:hover {
  background: rgba(39, 39, 39, 0.8) !important;
}
.sub-landing .content-section.grid .grid-row .grid-col.c2 {
  background: rgba(28, 89, 45, 0.4) !important;
}
.sub-landing .content-section.grid .grid-row .grid-col.c2.link:hover {
  background: rgba(28, 89, 45, 0.8) !important;
}
.sub-landing .content-section.grid .grid-row .grid-col.c3 {
  background: rgba(176, 33, 39, 0.4) !important;
}
.sub-landing .content-section.grid .grid-row .grid-col.c3.link:hover {
  background: rgba(176, 33, 39, 0.8) !important;
}
.sub-landing .content-section.grid .grid-row .grid-col.c4 {
  background: rgba(241, 196, 15, 0.4) !important;
}
.sub-landing .content-section.grid .grid-row .grid-col.c4.link:hover {
  background: rgba(241, 196, 15, 0.7) !important;
}
@media (max-width: 770px) {
  .sub-landing .content-section.grid .grid-row {
    flex-direction: column;
  }
}
@media (max-width: 770px) {
  .sub-landing {
    flex-direction: column;
    height: initial;
  }
}
/* Page Items */
.arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  height: 20px;
  width: 20px;
  transform: rotate(45deg) translate(-50%, 0px);
}
/* Scroll Bar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #323232;
}
::-webkit-scrollbar-thumb {
  background-color: #272727;
  border-radius: 20px;
  border: 3px solid #323232;
}
/* Styles */
.home .landing {
  position: relative;
  width: calc(0.9 * 100vw);
  height: calc(0.9 * 100vh);
}
.home .landing .title {
  position: absolute;
  top: 25%;
  left: 50%;
  font-size: 3.5rem;
  transform: translate(-50%, -25%);
  z-index: 1;
}
.home .landing .title h1 {
  margin: 0;
  white-space: nowrap;
}
.home .landing .title h1 + h1 {
  margin-left: 100px;
}
@media (max-width: 770px) {
  .home .landing .title h1 {
    font-size: 3rem;
  }
}
.home .landing .block-grid {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.home .landing .block-grid .block {
  position: absolute;
}
.home .landing .block-grid .block.content-block {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  padding: 0px 20px 0 10px;
  color: #000;
  transition: 0.2s all ease;
  text-decoration: none !important;
}
.home .landing .block-grid .block.content-block .block-title {
  font-size: 2rem;
}
.home .landing .block-grid .block.content-block .arrow {
  border-color: #000;
  transition: 0.2s all ease;
}
.home .landing .block-grid .block.content-block:hover {
  color: #fff;
}
.home .landing .block-grid .block.content-block:hover .arrow {
  border-color: #fff;
}
@media (max-width: 770px) {
  .home .landing .block-grid .block.content-block {
    padding-right: 40px;
  }
}
.home .landing .block-grid .block.b1 {
  top: -30%;
  left: 250px;
  width: 100px;
  height: 30%;
  -webkit-animation: move1 1s linear forwards 1;
  animation: move1 1s linear forwards 1;
  animation-delay: 0.5s;
}
@-webkit-keyframes move1 {
  0% {
    top: -30%;
  }
  100% {
    top: 0;
  }
}
.home .landing .block-grid .block.b2 {
  top: 25%;
  left: 0;
  width: 40%;
  height: 100px;
}
.home .landing .block-grid .block.b3 {
  top: 10%;
  right: -20%;
  width: 20%;
  height: 100px;
}
.home .landing .block-grid .block.b4 {
  top: calc(10% + 75px);
  right: 0;
  width: 40%;
  height: 100px;
  -webkit-animation: move2 0.5s linear forwards 1;
  animation: move2 0.5s linear forwards 1;
}
@-webkit-keyframes move2 {
  0% {
    right: -20%;
  }
  100% {
    right: 0;
  }
}
.home .landing .block-grid .block.b5 {
  top: calc(10% + 100px);
  right: calc(40% - 50px);
  width: 100px;
  height: 45%;
}
.home .landing .block-grid .block.b6 {
  bottom: 10%;
  left: -55%;
  width: 50%;
  height: 100px;
  -webkit-animation: move3 1s linear forwards 1;
  animation: move3 1s linear forwards 1;
  animation-delay: 1s;
}
@media (max-width: 770px) {
  .home .landing .block-grid .block.b6 {
    left: -85%;
    width: 80%;
    height: 150px;
  }
}
@-webkit-keyframes move3 {
  0% {
    left: -55%;
  }
  @media (max-width: 770px) {
    0% {
      left: -85%;
    }
  }
  100% {
    left: 0;
  }
}
.home .landing .block-grid .block.c1 {
  background: #272727;
}
.home .landing .block-grid .block.c2 {
  background: #1c592d;
}
.home .landing .block-grid .block.c3 {
  background: #b02127;
}
.home .landing .block-grid .block.c4 {
  background: #f1c40f;
}
.home .quote {
  padding: 150px 10%;
  text-align: center;
  position: relative;
}
.home .quote .quote-txt {
  font-size: 2.5rem;
  font-weight: 100;
  font-style: italic;
}
.home .quote .info {
  font-size: 1.5rem;
  color: #b02127;
  margin-top: 10px;
}
.home .split {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-bottom: 100px;
}
.home .split .split-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 50%;
}
.home .split .split-content .img-container {
  padding: 20px 0 20px 20px;
  max-height: 400px;
  overflow: hidden;
  position: relative;
  margin: 20px 0;
}
.home .split .split-content .img-container img {
  max-width: 100%;
  object-fit: cover;
  z-index: 1;
  position: relative;
}
.home .split .split-content .img-container::before {
  position: absolute;
  content: '';
  top: -20px;
  left: -20px;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: #646464;
}
.home .split .split-content .img-container.c1::before {
  background: #272727;
}
.home .split .split-content .img-container.c2::before {
  background: #1c592d;
}
.home .split .split-content .img-container.c3::before {
  background: #b02127;
}
.home .split .split-content .img-container.c4::before {
  background: #f1c40f;
}
.home .split .split-content .text-content {
  padding: 10px 10px 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  color: #fff;
  text-decoration: none;
}
.home .split .split-content .text-content h2 {
  font-weight: 100;
  font-size: 2rem;
  margin-top: 0;
}
.home .split .split-content .text-content .text {
  position: relative;
  display: flex;
  flex-direction: row;
}
.home .split .split-content .text-content .text .txt-info {
  margin-right: auto;
  max-width: 70%;
}
.home .split .split-content .text-content .text .arrow {
  position: relative;
  transform: rotate(45deg);
}
.home .split .split-content .text-content:hover {
  color: #f1c40f;
}
.home .split .split-content .text-content:hover .arrow {
  border-color: #f1c40f;
}
@media (min-width: 771px) {
  .home .split .split-content.reverse {
    flex-direction: column-reverse;
  }
  .home .split .split-content.reverse .text-content {
    border-right: none;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
  }
}
.home .split .split-content + .split-content {
  margin-left: 50px;
}
@media (max-width: 770px) {
  .home .split .split-content + .split-content {
    margin-left: 0;
    margin-top: 50px;
  }
}
@media (max-width: 770px) {
  .home .split .split-content {
    width: 100%;
  }
}
@media (max-width: 770px) {
  .home .split {
    flex-direction: column;
  }
}
.juneteenth {
  min-height: 100%;
}
.juneteenth .event .title {
  text-align: center;
  margin-bottom: 40px;
}
.juneteenth .event .title h2 {
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 100;
}
.juneteenth .event .title .date {
  font-size: 1.2rem;
  color: #b02127;
}
.juneteenth .event .title .date span {
  padding: 0 10px;
}
.juneteenth .event .title .date span + span {
  border-left: 1px solid #b02127;
}
.juneteenth .event .split {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-bottom: calc(100px + 40px);
  margin-bottom: 30px;
}
.juneteenth .event .split .split-item {
  flex: 1;
}
.juneteenth .event .split .text {
  margin-left: 30px;
}
.juneteenth .event .split .text h3 {
  font-weight: 100;
  font-size: 2.5rem;
  margin-top: 0;
  text-align: center;
}
.juneteenth .event .split .text p {
  font-size: 1.2rem;
  line-height: 2rem;
}
.juneteenth .event .split .img-container {
  padding: 20px 0 20px 20px;
  max-height: 400px;
  overflow: hidden;
  position: relative;
  margin: 20px 0;
}
.juneteenth .event .split .img-container img {
  max-width: 100%;
  object-fit: cover;
  z-index: 1;
  position: relative;
}
.juneteenth .event .split .img-container::before {
  position: absolute;
  content: '';
  top: -20px;
  left: -20px;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: #646464;
}
.juneteenth .event .split .img-container.c1::before {
  background: #272727;
}
.juneteenth .event .split .img-container.c2::before {
  background: #1c592d;
}
.juneteenth .event .split .img-container.c3::before {
  background: #b02127;
}
.juneteenth .event .split .img-container.c4::before {
  background: #f1c40f;
}
.juneteenth .event .split .btn-block {
  position: absolute;
  bottom: 0;
  left: calc(-5% - 5px);
  width: 50%;
  height: 100px;
  background: #b02127;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  transition: 0.3s all ease-in-out;
}
.juneteenth .event .split .btn-block .block-title {
  font-size: 2rem;
  padding-left: 20px;
}
@media (max-width: 770px) {
  .juneteenth .event .split .btn-block {
    width: 80%;
    height: 100px;
  }
}
.juneteenth .event .split .btn-block:hover {
  width: 52%;
}
@media (max-width: 770px) {
  .juneteenth .event .split .btn-block:hover {
    width: 82%;
  }
}
@media (max-width: 770px) {
  .juneteenth .event .split {
    flex-direction: column;
  }
}
.juneteenth .details {
  padding-top: 0;
  padding-bottom: 100px;
}
.juneteenth .details .title {
  text-align: center;
  margin-bottom: 40px;
}
.juneteenth .details .title h2 {
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 100;
}
.juneteenth .details .no-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0.5;
  height: 200px;
  position: relative;
}
.juneteenth .details .no-details div {
  background: rgba(100, 100, 100, 0.55);
  flex: 1;
  margin: 5px 10px;
}
.juneteenth .details .no-details:before {
  content: 'More Details To Come';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem;
  font-weight: bold;
  background-color: #000000;
  width: 100%;
  text-align: center;
  opacity: 0.55;
}
.move-top {
  position: relative;
  top: -100%;
  animation: move_T 1s linear forwards 1;
  -webkit-animation: move_T 1s linear forwards 1;
}
.move-bottom {
  position: relative;
  bottom: -100%;
  animation: move_B 1s linear forwards 1;
  -webkit-animation: move_B 1s linear forwards 1;
}
.move-left {
  position: relative;
  left: -100%;
  animation: move_L 1s linear forwards 1;
  -webkit-animation: move_L 1s linear forwards 1;
}
.move-right {
  position: relative;
  right: -100%;
  animation: move_R 1s linear forwards 1;
  -webkit-animation: move_R 1s linear forwards 1;
}
@-webkit-keyframes move_T {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes move_B {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}
@-webkit-keyframes move_R {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
@-webkit-keyframes move_L {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
.support .gallery {
  margin: 75px 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.support .gallery .text {
  padding: 20px 20px 20px 5%;
  flex: 1;
}
.support .gallery .text h2 {
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 100;
}
.support .gallery .text p {
  line-height: 2.3rem;
  font-size: 1.3rem;
}
.support .gallery .image-gallery {
  width: 70%;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  position: relative;
  margin-right: -20%;
}
.support .gallery .image-gallery .alice-carousel .photo-item {
  overflow: hidden;
  margin: 0 10px;
  border-radius: 5px;
  height: 330px;
  padding: 3px;
}
.support .gallery .image-gallery .alice-carousel .photo-item img,
.support .gallery .image-gallery .alice-carousel .photo-item iframe {
  width: calc(100% - 20px);
  min-height: calc(100% - 20px);
  object-fit: cover;
  border-radius: 2px;
  border: 5px solid #272727;
}
.support .gallery .image-gallery .alice-carousel .photo-item .no-photo {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  background: #000000;
  border-radius: 2px;
  border: 7px solid #272727;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.support .gallery .image-gallery .scroll-ctrl {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.support .gallery .image-gallery .scroll-ctrl .ctrl-item {
  cursor: pointer;
  font-size: 20px;
  padding: 5px 10px;
  color: #272727;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(241, 196, 15, 0.9) !important;
  transition: 0.5s all ease-in-out;
}
.support .gallery .image-gallery .scroll-ctrl .ctrl-item.disabled {
  background: #afafaf !important;
  opacity: 0.7;
  cursor: initial;
}
.support .gallery .image-gallery .scroll-ctrl .ctrl-item.left:hover:not(.disabled) {
  padding-right: 20px;
}
.support .gallery .image-gallery .scroll-ctrl .ctrl-item.right:hover:not(.disabled) {
  padding-left: 20px;
}
.support .gallery .image-gallery .scroll-ctrl .ctrl-item + .ctrl-item {
  margin-left: 5px;
}
@media (max-width: 992px) {
  .support .gallery .image-gallery .scroll-ctrl {
    left: 50%;
    transform: translateX(-50%);
  }
  .support .gallery .image-gallery .scroll-ctrl .ctrl-item {
    font-size: 30px;
  }
}
.support .form .form-tab-container {
  display: flex;
  flex-direction: row;
}
.support .form .form-tab-container .form-tab {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 5px 20px;
  border-bottom: 2px solid #b02127;
  font-size: 1.2rem;
  cursor: pointer;
}
.support .form .form-tab-container .form-tab i {
  margin-right: 7px;
}
.support .form .form-tab-container .form-tab.sel {
  border-top: 2px solid #b02127;
  border-left: 2px solid #b02127;
  border-right: 2px solid #b02127;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.support .form .form-tab-container:before {
  content: '';
  width: 10%;
  border-bottom: 2px solid #b02127;
}
.support .form .form-tab-container:after {
  content: '';
  flex: 1;
  border-bottom: 2px solid #b02127;
}
.support .form .form-content {
  padding: 0 5%;
}
