.support {
    .gallery {
        margin: 75px 0; display: flex;
        flex-direction: row; overflow: hidden;

        .text { 
            padding: 20px 20px 20px 5%; flex:1;
            h2 { margin-bottom: 0; font-size: 3rem; font-weight: 100;}
            p { line-height: 2.3rem; font-size: 1.3rem; }
        }

        .image-gallery { 
            width: 70%; padding-bottom: 50px;       
            display: flex; justify-content: center; 
            position: relative; margin-right: -20%;   
            
            .alice-carousel { 
                .photo-item {
                    overflow: hidden; margin: 0 10px;
                    border-radius: 5px; height: 330px; padding: 3px;
                    img, iframe { 
                        width: calc(100% - 20px); height: calc(100% - 20px); 
                        object-fit: cover;  border-radius: 2px;
                        border: 5px solid rgba(39,39,39,1);
                    }   
                    
                    .no-photo {
                        width: calc(100% - 20px); height: calc(100% - 20px);
                        background: rgba(0,0,0,1); border-radius: 2px;
                        border: 7px solid rgba(39,39,39,1);
                        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
                        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
                        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
                    }
                }
            }  
            
            .scroll-ctrl { 
                position: absolute; left: 0; bottom: 0;
                display: flex; flex-direction: row; justify-content: left;
                .ctrl-item {
                    cursor: pointer; font-size: 20px;
                    padding: 5px 10px; color: @color1;
                    display: flex; flex-direction: column;
                    justify-content: center; .color4(background, 0.9);
                    transition: 0.5s all ease-in-out;
            
                    &.disabled { background: rgba(175,175,175,1) !important; opacity: 0.7; cursor: initial;}
                    &.left { &:hover:not(.disabled) { padding-right: 20px;}}
                    &.right { &:hover:not(.disabled) { padding-left: 20px;}}
                    &+.ctrl-item { margin-left: 5px;}                    
                }
                @media @mobile-nav { 
                    left: 50%;  transform: translateX(-50%);
                    .ctrl-item {  font-size: 30px; }
                }
            }

            @media @mobile-device { width: 100%; }
        }

        @media @mobile-device { flex-direction: column; }
    }

    .form {
        .form-tab-container {
            display: flex; flex-direction: row;
            .form-tab { 
                border-top-left-radius: 4px; border-top-right-radius: 4px;
                padding: 5px 20px; border-bottom: 2px solid @color4;
                font-size: 1.2rem; cursor: pointer;

                i { margin-right: 7px; }
                &.sel { 
                    border-top: 2px solid @color4; border-left: 2px solid @color4;
                    border-right: 2px solid @color4; border-bottom:2px solid rgba(0,0,0,0);
                }
            }
            &:before { content:''; width: 10%; border-bottom: 2px solid @color4;}
            &:after { content:''; flex:1; border-bottom: 2px solid @color4;}
        }

        .form-content { padding: 0 5% 50px; min-height: calc(80vh - 40px); }
    }
}

.support-form {
    padding: 50px 0 100px; position: relative;
    .title { text-align: center; font-size: 3rem; font-weight: 200; margin-top: 0; }

    .base-form {
        display: flex; flex-direction: row;
        flex-wrap: wrap; 
        .form-input { 
            display: flex; flex-direction: column;
            padding: 7px 10px; margin-bottom: 10px;
            .form-title { font-size: 1.5rem; }
            input[type="text"] { 
                border: 1px solid #fff; background: rgba(0,0,0,0);
                color: #fff; padding: 5px 10px; margin-top: 5px; border-radius: 2px;
            }

            .radio-container {
                display: flex; flex-direction: row; padding: 10px 0;

                label { 
                    padding: 5px; font-size: 1.1rem; padding: 5px 15px; cursor: pointer;
                    background: rgba(255,255,255,0.1); border-radius: 2px;
                    input[type="radio"] { margin: 0 5px 0 0; }
                    &+label { margin-left: 50px; @media @mobile-device { margin-left: 0; }}

                    @media @mobile-device { margin: 10px 0; }
                }

                @media @mobile-device { flex-direction: column; }
            }

            &.sz-1 { width: calc(10% - 20px); @media @mobile-device { width: calc(100% - 20px); }} &.sz-2 { width: calc(20% - 20px); @media @mobile-device { width: calc(100% - 20px); }}
            &.sz-3 { width: calc(30% - 20px); @media @mobile-device { width: calc(100% - 20px); }} &.sz-4 { width: calc(40% - 20px); @media @mobile-device { width: calc(100% - 20px); }}
            &.sz-5 { width: calc(50% - 20px); @media @mobile-device { width: calc(100% - 20px); }} &.sz-6 { width: calc(60% - 20px); @media @mobile-device { width: calc(100% - 20px); }}
            &.sz-7 { width: calc(70% - 20px); @media @mobile-device { width: calc(100% - 20px); }} &.sz-8 { width: calc(80% - 20px); @media @mobile-device { width: calc(100% - 20px); }}
            &.sz-9 { width: calc(90% - 20px); @media @mobile-device { width: calc(100% - 20px); }} &.sz-10 { width: calc(100% - 20px); @media @mobile-device { width: calc(100% - 20px); }}
        }

        @media @mobile-device { margin-bottom: 30px; }
    }

    .form-sentence {
        display: flex; flex-direction: row; flex-wrap: wrap;  margin-bottom: 30px;
        span { font-size: 2rem; margin: 0 10px; margin-bottom: 20px;}
        input { 
            background: rgba(0,0,0,0); border: 0; color: @color4; font-size: 1.5rem;
            border-bottom: 2px solid rgba(255,255,255,1); margin-bottom: 20px;
            &[name="name"] { width: 250px; @media @mobile-device { flex:1; }}            
            &[name="email"] { width: 200px; flex:1; }
            &[name="interest"] { flex:1; }
        }

        @media @mobile-device { margin-bottom: 30px; }
    }

    .btn-block {
        position: absolute; bottom: 25px; left: calc(-5% - 5px); 
        width: 40%; height: 50px; background: @color1;
        display: flex; flex-direction: column; cursor: pointer;
        justify-content: center; transition: 0.3s all ease-in-out;

        .block-title { font-size: 1.5rem; padding-left: 20px; }
        .arrow { width: 15px; height: 15px; }

        &.c2 { background: @color2; } &.c3 { background: @color3; } 
        &.c4 { background: @color4; color: #000; .arrow { border-color: #000;}}

        @media @mobile-device { width: 80%; height: 75px; }

        &:hover { width: 42%; @media @mobile-device { width: 82%; }}
    }
}